<script>
	import { fade, slide } from 'svelte/transition';
	import Papo from './papoCoelho'

	const tempoBalaoAmostra = 1 * 7000;
	const balaoTransicao = 1.5 * 1000;

	let bntMostrando = true
	let balaoAmostra = false

	shuffleArray(Papo)
	console.log(Papo)
	let indexPapo = -1;

	function shuffleArray(arr) {
		for (let i = arr.length - 1; i > 0; i--) {
			const j = Math.floor(Math.random() * (i + 1));
			[arr[i], arr[j]] = [arr[j], arr[i]];
		}
	}

	function aparecerBalao(node, {duration = 2500, inicial, final}){
		//fomula da reta reduzida

		const P1 = {x: 0, y: inicial}
		const P2 = {x: 1, y: final	}

		const coefAng = (P2.y - P1.y) / (P2.x - P1.x)
		const coefLinear = P1.y - (coefAng * P1.x)

		return {
			duration,
			css: t => `transform: translateY(${coefAng * t + coefLinear}vh)`
		}
	}

	function inBalao() {
		setTimeout(() => {
			balaoAmostra = false
		}, tempoBalaoAmostra);
	}

	function handleBntClick(){
		bntMostrando = false
		indexPapo = (indexPapo + 1) % Papo.length
		console.log(indexPapo)
	}

</script>

<main>
	{#if bntMostrando}
		<button 
			on:click={handleBntClick}
			in:slide="{{delay: 2000}}"
			out:slide
		>
			Fatos Coelhos!
		</button>
	{:else}
		<div class="subidor">
			<!-- isso eh um saco, o out:aparecerBalao acaba ficando invertido, ai precisa passar os param trocados -->
			<img 
				src='zeffyImg.png'
				alt="imagem do coelho"
				in:aparecerBalao="{{inicial: 100, final: 0}}"
				out:aparecerBalao="{{inicial: -100, final: 0}}"
				on:introend="{() => balaoAmostra = true}"
			>
			{#if balaoAmostra}
				<div 
					class="balao"
					transition:fade="{{duration: balaoTransicao}}"
					on:introend="{inBalao}"
					on:outroend="{() => bntMostrando=true}"
					>
					<h1>{Papo[indexPapo].titulo}</h1>
					<p>{Papo[indexPapo].conteudo}</p>
				</div>
			{/if}
		</div>
	{/if}
</main>

<style>
	main {
		display: grid;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		height: 100vh;
		width: min(100%, 300px);
		grid-template: 100% / 100%;
		overflow-y: hidden;
	}

	main > * {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	main > button {
		width: 80%;
		margin: 0 auto;
		background-color:firebrick;
		border: 2px solid whitesmoke;
		color: white;
		border-radius: 15px;
	}

	.subidor {
		position: relative;
	}

	.subidor > img {
		display: flex;
		margin: 0 auto;
	}

	.balao {
		position: absolute;
		border: 5px solid black;
		border-radius: 5%;
		bottom: 45%;
		background-color: white;
	}

	.balao > h1 {
		z-index: 1;
		left: 50%;
	}

</style>